.app {
  background-color: $backgroundColor;
  min-height: 100vh;
  display: flex;
  flex-flow: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: $fontColor;

  a {
    color: $blueColor;
  }

  .page-content {
    width: calc(100% - 300px);

    .page-container {
      padding: 20px;
    }
  }

  & > * {
    min-height: 100vh;
  }
}
