@import 'variables.scss';
@import 'App.scss';
@import 'Navbar.scss';
@import './pages';

body {
  margin: 0;
  font-family: 'Roboto Mono', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul.no-bullet {
  list-style-type: none;
}

.text-centered {
  text-align: center;
}

.animated-text {
  position: relative;

  .baseTxt {
    z-index: 1;
    position: relative;
  }

  .hoverTxt {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 0%;
    transition: width 0.3s ease-in;
    background: $backgroundColor;
  }

  &:hover .hoverTxt {
    width: 100%;
  }
}

@for $i from 1 through 7 {
  .pad-top-#{$i * 10} {
    padding-top: #{$i * 10}px;
  }
  .pad-bot-#{$i * 10} {
    padding-bottom: #{$i * 10}px;
  }
  .margin-top-#{$i * 10} {
    margin-top: #{$i * 10}px;
  }
  .margin-bot-#{$i * 10} {
    margin-bottom: #{$i * 10}px;
  }
}
