body {
  margin: 0;
  font-family: 'Roboto Mono', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import 'variables.scss';
@import 'App.scss';
@import 'Navbar.scss';
@import './pages';

.text-centered {
  text-align: center;
}

.animated-text {
  position: relative;

  .baseTxt {
    z-index: 1;
    position: relative;
  }

  .hoverTxt {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 0%;
    transition: width 0.3s ease-in;
    background: $backgroundColor;
  }

  &:hover .hoverTxt {
    width: 100%;
  }
}
