.project-container {
  .work-block {
    display: flex;
    margin-bottom: 40px;

    .img-work-block {
      position: relative;
      background: #00799e;
      transition: background 0.3s linear;

      &:hover {
        background: transparent;

        img {
          opacity: 1;
        }
      }

      img {
        opacity: 0.3;
        transition: opacity 0.3s linear;
      }

      .work-title {
        position: absolute;
        height: 30px;
        line-height: 30px;
        padding: 10px 20px;
        bottom: -30px;
        left: 55%;
        font-size: 16px;
        font-weight: bold;
        background: #092c37;
        color: white;
      }
    }
    .work-description {
      padding-left: 20px;
      font-size: 12px;
      text-align: justify;
      padding-right: 20px;

      .work-date {
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .project-container {
    .work-block {
      display: block;
    }
    .img-work-block {
      text-align: center;
    }
    .work-description {
      padding-top: 25px;
    }
  }
}
